body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#active {
    opacity: 0;
}

#idle {
    opacity: 1;
}

#active.active{
    opacity: 1;
}

#idle.active{
    opacity: 0;
}